.b-black {
    background: #000;
}

.product-wrap {
    border: 1px solid #ffbb00ba;
    text-align: center;
}

.discount-title {
    padding: 10px;
}

.customize-wrap button {
    color: #fff;
    border: 2px solid #ffbb00ba !important;
    font-size: 18px;
    padding: 3px;
    margin-left: 26px;
    border-radius: 6px;
    width: 143px;
}

.space-gray {
    background: transparent;

}

.silver {
    background: #ffbb00ba;
    color: #000 !important;

}

.texture button {
    width: 71px;
    background: transparent;
    border: none;
    padding: 0px;
    border-radius: none;
    border: none !important;
    margin-left: 0px;

}

.texture p {
    color: #ffffff57;
}

.cus-wrap {
    background: #1d1d1d;
    padding: 6px;
    border: 1px solid #ffbb00ba;
}

#myCarousel {
    background: #000;
    padding-top: 20px;
}

.carousel-control.left,
.carousel-control.right {
    margin-left: 2px;
    background-image: none;
}

.carousel-control {
    width: 15%;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #ffbb00;
}

.features-wrap {
    margin-top: 15px;
}


.suugg-wrap {
    padding: 0;
    padding-right: 7px;
}

.suugg-wrap img {
    width: 100%;
}